## Problem Statement
+ This project understands how the student's performance (test scores) is affected by other variables such as `Gender`, `Ethnicity`, `Parental Level of Education`, `Lunch` and other features

## Data Collection 
+ Dataset source: https://www.kaggle.com/datasets/spscientist/students-performance-in-exams
+ The data consist of 8 columns and 1000 rows.

### Import Data and Required Packages

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

### Read the data

In [2]:
# read the data
data_student = pd.read_csv('data/StudentsPerformance.csv')

# print the first few rows of the data
data_student.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [3]:
# print the size of the data
print("size of the data is " + str(data_student.shape))

size of the data is (1000, 8)

## Data Cleaning
+ Check for missing data
+ check duplicate 
+ check data type
+ check number of unique values of each column
+ check statistics of each set
+ check category columns information

### Check for Missing Values
There are no missing vlaues

In [4]:
# check for missing values
data_student.isna().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

### Check for duplicates
There are no duplicates

In [5]:
data_student.duplicated().sum()

0

### Check Data Types

In [6]:
# check for data types
data_student.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

### Check unique Values

In [7]:
# check the number unique values for each column
data_student.nunique()

gender                          2
race/ethnicity                  5
parental level of education     6
lunch                           2
test preparation course         2
math score                     81
reading score                  72
writing score                  77
dtype: int64